<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vitae file</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="hero">
        <header class="header">
            <h1>i design experiences Web make life simple</h1>
            <img src="/image/follower/ff1.jpg" alt="boss">
        </header>
    </section>
    
    <div class="container">
        <div class="primaryText">
            <h2>Naheem Oloyede</h2>
            <h3>Student @techArena</h3>
            <p>Aviation ilorin</p>
        </div>

        <div class="secondaryText">
            <a href="/techarena">Techarena</a> <br>
            <a href="/lautech">Lautech</a> <br>
            <a href="">portfolio</a> <br>
        </div>
    </div>
</body>
</html>