<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vatae || Lautech</title>

</head>

<style>
*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

body {
    background: whitesmoke;
    padding: 2rem 3rem;
      
}

.lauLogo {
    padding: 3px 0px 0 5px;
}

img {
    height: 100px;
    width: 100px;
}

#hero  {
    height: 50vh;
    background-image: url(/lautech-pix.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.schdell {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.followerText  {
    display: flex;
}

.follower img  {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 0.3rem solid #fdf2e9;
}

.follower img:last-child {
    margin: 0;

} 

.followerText {
    font-size: 1rem;
    font-weight: 200;
       
}

.btnFull {
    padding: 1.2rem 0;
}

.btn__One {
    background-color: #5050e0;
    padding: 1rem;
    border-radius: 25px;
}

.btn__Two {
    padding: 1rem 1.5rem;
    border-radius: 25px;
}
</style>
<body>
    <div id="hero">
        <div class="lauLogo">
            <img src="/image/logo img/lautechlogo.jpg" alt="">
        </div>
        
        
    </div>

    <div class="schdell">
        <div class="schInfo">
        <h1>Ladoke Akintola University of Technology</h1>
        <h3>Ogbomosho, Oyo  .457925followers</h3>
        <p>Excellence, Integrity and Service</p>
        </div>
        
        <div class="follower">
            <a href="#">View all open job</a>
            <a href="" class="">
                <img src="/image/follower/ff1.jpg" alt="folo1">
                <img src="/image/follower/ff2.jpg" alt="folo2">
                <img src="/image/follower/ff3.jpg" alt="folo3">
                <p class="followerText">View all 3000 employee</p>
            </a>
        </div>
        
    </div>

    <div class="btnFull">
        <button class="btn__One">see alumni</button>
        <button class="btn__Two">Follow</button>
    </div>

     <div class="lautech">
        <h1>About Us</h1>
        <p>Ladoke Akintola University of Technology (LAUTECH), a first grade unique Institution of higher learning, is an autonomous public institution with the general function of providing liberal higher education and research in Nigeria.

            The University was established on April 23, 1990 under the old Oyo State with the name Oyo State University of Technology, Ogbomoso (OSUTECH). Upon the creation of the Osun State out of the Old Oyo State in 1991, the name of the University was changed to LadokeAkintola University of Technology, Ogbomoso (LAUTECH).</p>
     </div>
</body>
</html>