<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitae || TechArena</title>
</head>

<style>
*,
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

body {
    background: whitesmoke;
    padding:0 3rem;
      
}

.techLogo {
    border: 2px solid wheat;
    /*padding: 0 0 0.8rem 1rem ;*/
    margin-top: 3.2rem;
    height: 150px;
    width: 150px;
}



img {
    height: 50px;
    width: 50px;
}

#hero  {
    height: 40vh;
    background-image: url(/arena2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

</style>
<body>
    <div id="hero">
        <h3>TECHARENA <br> a place where you acquire Web Devlopment skills</h3>
        <img class="techLogo" src="/image/logo img/tecaaa logo.png" alt="techpix">
    </div>

    <div class="socailPp">
        <div class="primaryText">
            <h3>TechArena Bootcamp</h3>
            <h4>Education Service</h4>
            <p>Claymont, Delaware . 810 followers</p>
            <p>Let coding in other to acquire web app and design </p>
        </div>

        <div class="student">
            <img src="/image/follower/ff2.jpg" alt="">
        <img src="/image/follower/ff3.jpg" alt="">
        <img src="/image/follower/ff1.jpg" alt="">
        </div>
        
    </div>
      <div class="tech">
        <h1>About Tech</h1>
        <p>Technology isn’t an industry, its a method of transforming the culture and economics of existing systems
           and institutions. That can be a little bit hard to understand if we only judge tech as a set of consumer
           products that we purchase. But tech goes a lot deeper than the phones in our hands, and we must understand
           some fundamental shifts in society if we’re going to make good decisions about the way tech companies
           shape our lives—and especially if we want to influence the people who actually make technolog</p>

      </div>
</body>
</html>